  <div class="sb-container">
    <div class="row">
      <div class="col-8">
        <%# render "shared/block-infos-team-show" %>
        <h2 class="stat-category">General information</h2>
        <div class="background-logo-show-team">
          <%= image_tag @team.images.first, class: "team-logo-show-team" %><h1><%= @team.name %></h1>
        </div>
        <div class="d-flex" id="middle-infos">
          <h2><i class="fas fa-map-marker-alt"></i> Location: <%= @team.country %></h2>
          <h2><i class="fas fa-user-tie"></i> Coach: <%= @coach[0].pseudo %></h2>
        </div>
        <div id="bottom-infos">
          <h2><i class="far fa-file-alt"></i> Description: </h2><p><%= @team.description %></p>
        </div>

        <h2 class="stat-category">Team players</h2>
        <%= render 'shared/player-card-show', team: @team %>
        <h2 class="stat-category">Match history</h2>
      </div>


      <div class="col-4">

        <div class="booking-card">
          <div class="booking-form">
            <h4><%= image_tag @team.images.first, class: "team-logo-book-card" %></h4>
            <h4>Book a scrim with <%= @team.name %></h4>
            <%= render "shared/booking_form", team: @team, scrim: @scrim %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
