<div class="player-banner">
  <div class="banner-container">
    <div class="row">
      <div class="col-3">
        <div class="general-player-infos">
          <div class="name-icon"><i class="fas fa-user"></i></div>
          <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        </div>
      </div>
      <div class="col-6">
        <div class="player-pseudo-image">
          <div>
            <%= image_tag (@user.avatar), class: "player-avatar" %>
          </div>
          <h1 id="team-name-show-team"><%= @user.pseudo %></h1>
        </div>
      </div>
      <div class="col-3">
        <div class="general-player-infos">
          <% if @user.role == "Top" %>
            <div><%= image_tag "position/top.png", class: "position-icon" %></div>
          <% elsif @user.role == "Jungler" %>
            <div><%= image_tag "position/jungle.png", class: "position-icon" %></div>
          <% elsif @user.role == "Mid" %>
            <div><%= image_tag "position/mid.png", class: "position-icon" %></div>
          <% elsif @user.role == "Support" %>
            <div><%= image_tag "position/support.png", class: "position-icon" %></div>
          <% else %>
            <div><%= image_tag "position/bot.png", class: "position-icon" %></div>
          <% end %>
          <h2><%= @user.role %></h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sb-container">
  <div class="stat-category mt-3">
    Personnal statistics
  </div>

  <div class="player-statistics">
    <div class="row">

      <div class="col-4">
        <div class="stat-infos">
          <div class="diagram">
            <span id="wins" class="display_none"><%= @user[:season_wins] %></span>
            <span id="losses" class="display_none"><%= @user[:season_losses] %></span>
            <canvas id="myChart" width="400" height="400"></canvas>
          </div>
          <div class="games">
            <div class="row">
              <div class="col-4">
                <div class="stat">
                  <p class="stat-number"><%= @total_match %></p>
                  <p class="stat-label">GAMES</p>
                </div>
              </div>
              <div class="col-4">
                <div class="stat">
                  <p class="stat-number"><%= @user[:season_wins] %></p>
                  <p class="stat-label">WINS</p>
                </div>
              </div>
              <div class="col-4">
                <div class="stat">
                  <p class="stat-number"><%= @user[:season_losses] %></p>
                  <p class="stat-label">LOSSES</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="stat-infos">
          <div class="rank_image">
            <% if @user[:rank].include?("CHALLENGER") %>
              <%= image_tag 'ranking/Emblem_Challenger.png' %>
            <% elsif @user[:rank].include?("GRANDMASTER") %>
              <%= image_tag 'ranking/Emblem_Grandmaster.png' %>
            <% elsif @user[:rank].include?("MASTER") %>
              <%= image_tag 'ranking/Emblem_Master.png' %>
            <% elsif @user[:rank].include?("DIAMOND") %>
              <%= image_tag 'ranking/Emblem_Diamond.png' %>
            <% elsif @user[:rank].include?("PLATINUM") %>
              <%= image_tag 'ranking/Emblem_Platinum.png' %>
            <% elsif @user[:rank].include?("GOLD") %>
              <%= image_tag 'ranking/Emblem_Gold.png' %>
            <% elsif @user[:rank].include?("SILVER") %>
              <%= image_tag 'ranking/Emblem_Silver.png' %>
            <% else %>
              <%= image_tag 'ranking/Emblem_Bronze.png' %>
            <% end %>
          </div>

          <div class="stats-ranking">
            <div>
              <p class="stat-number"><%= @user[:rank] %></p>
              <p class="stat-label">RANK</p>
            </div>
            <div>
              <p class="stat-number"><%= @user[:league_points] %></p>
              <p class="stat-label">LEAGUE POINTS</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="stat-infos">
          <div class="champions-images">
            <div class="d-flex justify-content-center">
              <% @most_used_champions.first(3).each do |champion| %>
                <%= image_tag "http://ddragon.leagueoflegends.com/cdn/9.23.1/img/champion/#{champion}.png" %>
              <% end %>
            </div>
            <div class="d-flex justify-content-center">
              <% @most_used_champions.last(2).each do |champion| %>
                <%= image_tag "http://ddragon.leagueoflegends.com/cdn/9.23.1/img/champion/#{champion}.png" %>
              <% end %>
            </div>
          </div>

          <p class="stat-label">Most used champions</p>
        </div>
      </div>

    </div>
  </div>

  <div class="stat-category">
    Match history
  </div>

  <div class="history-cards">
    <% @user.user_histories.each do |match| %>
      <%= render 'shared/user_history', user: @user, match: match %>
    <% end %>
  </div>
</div>
