<div class='wrapper-dashboard'>
  <div class='row'>

    <%= render "dashboards/sidebar" %>

    <div class='col-10'>
      <%= render 'dashboards/navbar', friend: friend %>
      <div class="d-flex">
        <div class="team-box">
          <% if @users_with_conversation.empty? %>
            <h3>You have no conversations yet</h3>
          <% else %>
            <h3 class="m-3">Chat Room</h3>
            <% @users_with_conversation.each do |user| %>
              <div class="messages-link">
                <%= render "messages/card", user: user, team: user.team %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="m-3 dashboard-conversation">
          <h3>My conversation with <%= friend.first_name %></h3>
          <%= render "messages/chat", friend: friend, messages: messages %>
        </div>

      </div>

    </div>
  </div>
</div>
