<div class="navbar-main">
  <div class="sb-container">
    <div>
      <%= link_to root_path do %>
      <%= image_tag("logo/scrimBuddy.png", :alt => "logo") %>
      <% end %>
    </div>
    <div class="text-navbar-main">
      <div>
        <%= link_to "Teams", teams_path, class: "animoSlideUp" %>
      </div>
      <% if user_signed_in? %>
      <div>
        <%= link_to "Profile", dashboard_path, class: "animoSlideUp" %>
      </div>
      <% end %>

      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if user_signed_in? %>
          <%= image_tag current_user.avatar, class: "nav-avatar dropdown-toggle", id: "dropdownMenuButton" %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "Logout", destroy_user_session_path, class: "dropdown-item link", method: :delete %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

