<div class="nav-container">
  <div class="sb-container">
    <div class="d-flex justify-content-between">
      <%= link_to root_path do %>
      <%= image_tag("logo/scrimBuddy.png", :alt => "logo") %>
      <% end %>
      <div class="sb-navbar">
        <li class="sb-list">
          <%= link_to "Teams", teams_path, class: "sb-link" %>
        </li>
        <% if user_signed_in? %>
          <li class="sb-list">
            <%= link_to "Dashboard", dashboard_path, class: "sb-link" %>
          </li>
        <% end %>
        <li class="sb-link dropdown">
          <% if user_signed_in? %>
            <%= image_tag current_user.avatar, class: "nav-avatar dropdown-toggle bg-white", id: "navbarDropdown" %>
            <div class="dropdown-content">
              <%= link_to "Profile", dashboard_path(current_user), class: "link" %>
              <%= link_to "Logout", destroy_user_session_path, class: "link", method: :delete %>
            </div>
          <% end %>
        </li>
      </div>
    </div>
  </div>
</div>






