<div class="sb-container">
  <div class="row">
    <div class="col-4">
      <%= render 'shared/player_card_show_player' %>
    </div>
    <div class="col-8">
      <div class="stat-category">
        Personnal statistics
      </div>

      <div class="player-stats">
        <div class="row">
          <div class="col-4">
            <div class="games-stats">
              <div class="cirlcle-per-cent">
                50%
              </div>
              <div class="games">
                <p><%= @user.scraping_summoner_stats_from_riot_games[:total_games] %> games :</p>
                <p><%= @user.scraping_summoner_stats_from_riot_games[:total_winning_game] %> wins / <%= @user.scraping_summoner_stats_from_riot_games[:total_loosing_game] %> wins</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="player-ranking">
              <% if @user.scraping_summoner_stats_from_riot_games[:tier] == 'CHALLENGER' %>
                <%= image_tag "ranking/Emblem_Challenger.png" %>
              <% elsif @user.scraping_summoner_stats_from_riot_games[:tier] == 'GRANDMASTER' %>
                <%= image_tag "ranking/Emblem_Grandmaster.png" %>
              <% elsif @user.scraping_summoner_stats_from_riot_games[:tier] == 'MASTER' %>
                <%= image_tag "ranking/Emblem_Master.png" %>
              <% elsif @user.scraping_summoner_stats_from_riot_games[:tier] == 'DIAMOND' %>
                <%= image_tag "ranking/Emblem_Diamond.png" %>
              <% elsif @user.scraping_summoner_stats_from_riot_games[:tier] == 'PLATINUM' %>
                <%= image_tag "ranking/Emblem_Platinum.png" %>
              <% elsif @user.scraping_summoner_stats_from_riot_games[:tier] == 'GOLD' %>
                <%= image_tag "ranking/Emblem_Gold.png" %>
              <% elsif @user.scraping_summoner_stats_from_riot_games[:tier] == 'SILVER' %>
                <%= image_tag "ranking/Emblem_Silver.png" %>
              <% else %>
                <%= image_tag "ranking/Emblem_Bronze.png" %>
              <% end %>
              <div class="ranking">
                <p>Rank: <%= @user.scraping_summoner_stats_from_riot_games[:tier] %> <%= @user.scraping_summoner_stats_from_riot_games[:rank] %></p>
                <p>League points: <%= @user.scraping_summoner_stats_from_riot_games[:league_points] %></p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="games-stats">
              <div class="most-played-champions">
                <% most_played_champions = @user.most_champions_played %>
                <% most_played_champions.each do |champion| %>
                  <div class="played-champion">
                    <%= champion['championId'] %>
                  </div>
                <% end %>
              </div>
              <div class="most-used-champ">
                Most used champions
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="stat-category">
        SoloQ history
      </div>

      <div class="history-cards">
        <% matches = @user.five_last_matches_infos_from_riot %>
        <% matches.first(3).each do |match| %>
          <%= render 'shared/match-history', match: match %>
        <% end %>
      </div>
    </div>
  </div>.
</div>

<div class="footer">
  <%= render 'shared/footer' %>
</div>
